.pages-list
	display flex
	justify-content space-around
	flex-flow wrap
	flex-basis 250px
	.cover
		margin 10px
		text-align center
		width 250px
		border 1px solid lime
		border-radius 10px
		.link
			padding 8px 0
			display block
			color magenta
			text-decoration none
			font-size 18px
			text-shadow 2px 1px 2px cyan
			&:hover
				color cyan
				text-shadow 2px 1px 2px magenta
