mixin breadcrumbs(data)

	-data = data || []

	.breadcrumbs
		.wrapper
			ul.breadcrumbs__list
				if (data.length == 0)
					li.breadcrumbs__itm
						a(href="#") Главная
					li.breadcrumbs__itm
						span.slash /
					li.breadcrumbs__itm Текущая страница
				each item, i in data
					if (i === 0)
						li.breadcrumbs__itm
							a(href="#")= item
						li.breadcrumbs__itm
							span.slash /
					else if (i + 1 !== data.length && i !== 0)
						li.breadcrumbs__itm
							a(href="#")= item
						li.breadcrumbs__itm
							span.slash /
					else
						li.breadcrumbs__itm= item
