.breadcrumbs
	display block
	width 100%
	margin-top 12px
	margin-bottom 22px
	&__itm
		display inline-block
		color $c-yellow
		font-size 15px
		.slash
			color $c-blue-dark
		a
			color $c-blue-dark
			text-decoration none
			transition .25s
			&:hover
				color $c-blue
