extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Home';

block content
	mixin header()
		header
			.wrapper
				a(href="/").logo
					img(src="img/logo.png", alt="")
				nav.navigation.js-nav
					ul
						li.is-active
							a(href="#") главная
						li
							a(href="#") О компании
						li
							a(href="#") бренды
						li
							a(href="#") новости
						li
							a(href="#") вакансии
						li
							a(href="#") контакты
						li.lang
							a(href="#").is-active RU 
							span.divider |
							a(href="#") EN
				.hamburger
					span
					span
					span
	+header
	
	mixin header-carousel()
		section
			.header-carousel.owl-carousel
				.slide(style="background-image: url('img/hbg1.jpg')")
					.img
						img(src="img/logotea.png", alt="")
					.text
						p РАБОТАЕМ С 1995 ГОДА
						p оптовые поставки брендовой продукции
						p на выгодных условиях
				.slide(style="background-image: url('img/hbg1.jpg')")
					.img
						img(src="img/logotea.png", alt="")
					.text
						p РАБОТАЕМ С 1995 ГОДА ломаем верстку и придумываем как быть
						p оптовые поставки брендовой продукции
						p на выгодных условиях и немного тут сломаем для пущей уверенности
	+header-carousel
	
	mixin about()
		section.home-about
			.wrapper
				.col
					h2.main-title О НАС
						img(src="img/ico1.png", alt="")
					.text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, hic possimus error ducimus, dolore assumenda. Praesentium eveniet inventore, expedita! Recusandae error qui quos placeat, officiis velit ullam voluptatem officia magni ut natus dicta est beatae consectetur sunt sapiente accusantium dolorem asperiores quam, eveniet, ratione ab. Sint aliquid id placeat veniam nulla quia, nostrum velit repellat. Dolores error illo omnis aliquid illum maiores assumenda quaerat!
				.col
					.img
						img(src="img/ai1.jpg", alt="")
						img(src="img/reds.png", alt="").ang
	+about
	
	mixin brands()
		section.home-brands
			.wrapper
				h2.main-title бренды
					img(src="img/ico2.png", alt="")
			.brands-carousel.owl-carousel
				each val in [,,]
					.slide
						.img
							img(src="img/logotea.png", alt="")
						.under(style="background-image: url('img/tea.jpg')")
							.title чай mahmood
							.text Учрежденная семьей Алтункая, Mahmood Tea International Pvt (Altunkaya Group) применяет самые высокие стандарты качества во всей своей деятельности с первого дня своего основания.
					.slide
						.img
							img(src="img/susan.png", alt="")
						.under(style="background-image: url('img/tea.jpg')")
							.title Какой-то Susan
							.text Учрежденная семьей Алтункая, Mahmood Tea International Pvt (Altunkaya Group) применяет самые высокие стандарты качества во всей своей деятельности с первого дня своего основания.
					.slide
						.img
							img(src="img/logocoffee.jpg", alt="")
						.under(style="background-image: url('img/tea.jpg')")
							.title кофе mahmood
							.text Учрежденная семьей Алтункая, Mahmood Tea International Pvt (Altunkaya Group) применяет самые высокие стандарты качества во всей своей деятельности с первого дня своего основания.
	+brands
	
	mixin news()
		section.home-news
			.wrapper
				h2.main-title Новости
					img(src="img/ico3.png", alt="")
				.news-list
					.news-block
						.img
							img(src="img/news1.jpg", alt="")
							img(src="img/reds.png", alt="").ang
						.info
							.title Lorem
							.sub-title Ipsum
							.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, mollitia recusandae cumque illum obcaecati minus. Magnam eius eum id nam harum tenetur eligendi facilis rerum placeat sequi sit iste, similique optio unde libero et omnis quisquam ipsum modi repellendus beatae. Voluptatum ex, id facere. Placeat eveniet, fuga beatae accusamus possimus ullam necessitatibus, harum quam nesciunt labore, minus id iusto cum recusandae? Unde, ipsam, eos.
							.more
								a(href="#") подробнее >
					.news-block
						.img
							img(src="img/news2.jpg", alt="")
							img(src="img/reds.png", alt="").ang
						.info
							.title Lorem
							.sub-title Ipsum
							.text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, mollitia recusandae cumque illum obcaecati minus. Magnam eius eum id nam harum tenetur eligendi facilis rerum placeat sequi sit iste, similique optio unde libero et omnis quisquam ipsum modi repellendus beatae. Voluptatum ex, id facere. Placeat eveniet, fuga beatae accusamus possimus ullam necessitatibus, harum quam nesciunt labore, minus id iusto cum recusandae? Unde, ipsam, eos.
							.more
								a(href="#") подробнее >
				
				a(href="#").home-news-more показать больше новостей
	+news
	
	mixin partners()
		section.home-partners
			.wrapper
				.col
					h2.main-title для партнеров
						img(src="img/ico4.png", alt="")
					.partners-text-carousel.owl-carousel
						.text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, hic possimus error ducimus, dolore assumenda. Praesentium eveniet inventore, expedita! Recusandae error qui quos placeat, officiis velit ullam voluptatem officia magni ut natus dicta est beatae consectetur sunt sapiente accusantium dolorem asperiores quam, eveniet, ratione ab. Sint aliquid id placeat veniam nulla quia, nostrum velit repellat. Dolores error illo omnis aliquid illum maiores assumenda quaerat!
						.text
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, hic possimus error ducimus, dolore assumenda. Praesentium eveniet inventore, expedita! Recusandae error qui quos placeat, officiis velit ullam voluptatem officia magni ut natus dicta est beatae consectetur sunt sapiente accusantium dolorem asperiores quam, eveniet, ratione ab. Sint aliquid id placeat veniam nulla quia, nostrum velit repellat. Dolores error illo omnis aliquid illum maiores assumenda quaerat!
				.col
					.img
						img(src="img/partners.jpg", alt="")
						img(src="img/reds.png", alt="").ang
	+partners
	
	mixin footer()
		footer
			.wrapper
				.footer-top
					a(href="/").logo
						img(src="img/logo.png", alt="")
					.call-btn
						a(href="#").btn связаться
					nav.navigation
						ul
							li.is-active
								a(href="#") главная
							li
								a(href="#") О компании
							li
								a(href="#") бренды
							li
								a(href="#") новости
							li
								a(href="#") вакансии
							li
								a(href="#") контакты
				.footer-bottom
					.footer-partners
						ul
							li
								a(href="#") SusanTea.com
							li
								a(href="#") MahmoodTea.com
							li
								a(href="#") MahmoodCoffee.com
							li
								a(href="#") GumMarket.com
							li
								a(href="#") Tamashee.com
					
	+footer
