include /blocks/pages-list/pages-list

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Demo Index';

block content
		+pages-list([
			['home.html', 'home.html'],
			['news.html', 'news.html']
			])
