extends /blocks/layout-default/layout-default
include /pages/home

block head
	- var pageTitle = 'News';

block content
	+header
	
	mixin top-baner()
		.top-baner(style="background-image: url(img/hbg1.jpg)")
			.wrapper
				.title новости
					.img
						img(src="img/ico3.png", alt="")
	+top-baner
	
	section.padding-section
		.wrapper
			nav.sub-nav
				ul.sub-nav-list
					li.sub-nav-item
						a(href="#" class="link") о продукции
					li.sub-nav-item
						a(href="#" class="link") о компании
					li.sub-nav-item
						a(href="#" class="link") популярные новости
						
	section.padding-section
		.wrapper
			each val in [,,,,,,]
				.news-block-item
					.news-block-item__img
						.img
							img(src="img/news1.jpg", alt="")
							img(src="img/reds.png", class="ang" alt="")
					.news-block-item__info
						.news-block-item__title  Lorem ipsum.
						.news-block-item__title-sub  Lorem ipsum dolor sit.
						.news-block-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis voluptas explicabo, recusandae aliquam. Reprehenderit aliquid iusto ipsa perferendis dolore veniam quisquam quod cum sed, adipisci incidunt necessitatibus, tempora quaerat illo quis sit. Sed molestias nemo iure, cupiditate unde eum animi pariatur assumenda sunt? Illo quae fugiat, tempora expedita voluptatum, molestias nostrum sequi, assumenda natus facere unde earum dolorem aliquid sunt voluptates consequatur deserunt!
						.news-block-item__link
							a(href="#") Подробнее >
				

	+footer
