.top-baner
  text-align center
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding 10% 0
  .title
    color $cv-red
    font-size 64px
    display inline-block
    position relative
    +below(767px)
      font-size 32px
    &:before
      content: '';
      position: absolute;
      left: -10px;
      bottom: 0;
      height: 48px;
      background: #ca0a0a;
      width: 2px;
      +below(767px)
        height 26px
  .img
    display inline-block
    max-width 84px
    width 100%
    +below(767px)
      max-width 32px
    img
      width 100%

.padding-section
  padding 25px 0

.sub-nav-list
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content center
  text-align center
.sub-nav-item
  flex-grow 1
  border-right 1px solid #797979
  &:last-child
    border-right 0
  .link
    display block
    color #888
    text-decoration none
    text-transform uppercase
    padding 12px
    background #f3f3f3
    font-weight bold
    &:hover
      color $cv-red

.news-block-item
  display -webkit-flex
  display -ms-flex
  display flex
  margin-bottom 32px
  background #eee
  &:nth-child(2n)
    .news-block-item__img
      order: 2
    .news-block-item__info
      order 1
.news-block-item__img
  width 30%
  .img
    position relative
    img
      width 100%
  .ang
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
.news-block-item__info
  width 70%
  padding 25px
.news-block-item__title
  font-size 32px
  color #1b1b1b
  margin-bottom 12px
.news-block-item__title-sub
  font-size 26px
  color #1b1b1b
  margin-bottom 12px
.news-block-item__text
  font-size 18px
  color #1b1b1b
  margin-bottom 24px
.news-block-item__link
  text-align right
  a
    display inline-block
    text-decoration none
    color #888
    padding 12px 0
