$cv-grey = #888888
$cv-red = #ca0a0a

.demo
  font-family 'El Messiri', 'Arial'
  .wrap
    margin 0 auto
    max-width 1200px
  h1, h2, h3, h4
    margin-bottom 12px
    text-align center
  h1
    font-size 32px
    color $cOne
  h2
    font-size 24px
    color $cTwo
  p
    margin-bottom 12px
    font-size 16px

body
	font-family 'Open Sans', sans-serif

.wrapper
	max-width: 1366px;
	width 100%
	margin: 0 auto;
	padding 0 15px

header
	padding 8px 0
	position relative
	.wrapper
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
	.logo
	.navigation
		display inline-block
		vertical-align middle
	.navigation
		+above(900px)
			display inline-block !important
		+below(900px)
			position absolute
			width 100%
			z-index 5
			background #fff
			top 100%
			left 0
			display none
			ul
				text-align center
				li
					display block

.logo
	max-width 260px
	+below(1200px)
		max-width 125px
	img
		width 100%

footer
	padding 8px 0
	.navigation
		+below(767px)
			text-align: center;
	.logo
		+below(450px)
			margin: 0 auto;
			margin-bottom 8px
	.call-btn
		+below(450px)
			width 100%
			text-align center
			display block

.footer-top
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content space-between
	flex-wrap wrap
	align-items center
	li:last-child
		a
			padding-right 0

.footer-bottom
	padding-top 12px
	border-top: 2px solid $cv-red
	ul
		text-align center
	li
		display inline-block
		vertical-align top
		a
			display block
			color #b7b7b7
			font-size 20px
			padding 12px 24px
			text-decoration none

.call-btn
	a
		display block
		padding 12px 55px
		background $cv-red
		color #fff
		text-decoration none
		text-transform uppercase
		border 1px solid transparent
		transition: .25s
		&:hover
			color $cv-red
			background #fff
			border-color: $cv-red

.hamburger
	display none
	position relative
	size 30px
	cursor pointer
	&.is-active
		span:nth-child(1)
			opacity 0
			transform: scale(0);
		span:nth-child(2)
			transform: rotate(45deg);
			margin-top: 15px
		span:nth-child(3)
			transform: rotate(-45deg);
			margin-top: 15px
	span:nth-child(1)
		position absolute
		background $cv-red
		width 100%
		height 2px
		margin-top 10px
		transition: .35s;
	span:nth-child(2)
		position absolute
		background $cv-red
		width 100%
		height 2px
		margin-top 0px
		transition: .35s;
	span:nth-child(3)
		position absolute
		background $cv-red
		width 100%
		height 2px
		margin-top 20px
		transition: .35s;
	+below(900px)
		display block

.navigation
	.lang
		margin-left 22px
		+below(900px)
			margin-left 0
		a
			padding 8px 0
	li
		display inline-block
		vertical-align top
		.divider
			color $cv-grey
			margin 0 2px
		&.is-active
			a
				color $cv-red
				font-weight 600
		a
			display inline-block
			padding 8px 22px
			color $cv-grey
			text-transform uppercase
			text-decoration none
			+below(1200px)
				padding 8px 6px
			&.is-active
				color $cv-red
				font-weight 600
			&:hover
				color $cv-red


.header-carousel
	width 100%
	margin: 0 auto;
	.owl-stage
		display -webkit-flex
		display -ms-flex
		display flex
		.owl-item
			min-height 100%
			.slide
				height 100%
	.owl-dots
		position absolute
		bottom 25px
		left 0
		text-align center
		width 100%
		.owl-dot
			display inline-block
			border-radius: 50%;
			margin: 5px;
			size 15px
			background #fff
			&.active
				background $cv-red
	.slide
		text-align center
		padding-top 45px
		padding-bottom 120px
		background-size: cover;
		background-repeat: no-repeat;
		.text
			color #fff
			font-family: 'Scada', sans-serif;
			text-transform uppercase
			p
				font-size 38px
				margin-bottom 18px
				+below(1366px)
					font-size 18px
				&:first-child
					font-size 76px
					margin-bottom 32px
					+below(1366px)
						font-size 38px
					+below(767px)
						font-size 26px
		.img
			text-align center
			margin: 0 auto;
			max-width 320px
			padding 0 15px
			margin-bottom 45px
			img
				width auto
				max-width: 100%
				display inline-block
				+below(767px)
					max-height: 100px;

.main-title
	position relative
	font-size 42px
	padding-left 12px
	color $cv-red
	font-weight 600
	margin-bottom 32px
	text-transform uppercase
	+below(767px)
		font-size 21px
	&:before
		content ''
		position absolute
		left 0
		bottom 0
		height 35px
		background $cv-red
		width 1px
		+below(767px)
			height 20px
	img
		margin-left 12px
		max-width: 85px
		+below(767px)
			max-width 45px

.home-about
	padding-bottom 24px

.home-about
.home-partners
	.wrapper
		font-size 0
		.col
			display inline-block
			vertical-align top
			width 50%
			+below(950px)
				display block
				width 100%
			&:first-child
				padding-top 64px
				padding-right 64px
				+below(950px)
					padding-top 24px
					padding-right 0
					margin-bottom 12px
			.text
				font-size 18px
				line-height 22px
			.img
				overflow: hidden;
				position relative
				+below(950px)
					max-width 450px
					margin: 0 auto;
				.ang
					position absolute
					bottom 0
					left 0
					width 100%
					z-index 1
				img
					width 100%

.home-partners
	background #eee
	.wrapper
		.col
			&:first-child
				padding-top 32px

.home-brands
	padding-top 65px
	padding-bottom 80px
	background #eee
	text-align center
	.main-title
		display inline-block
		margin-bottom 64px

.brands-carousel
	position relative
	background #fff
	.owl-item
		height 325px
		&.center
			.under
				opacity 1
				visibility visible
		.under
			position absolute
			background-size: cover;
			z-index 2
			opacity 0
			visibility hidden
			transition: .5s;
			height 100%
			padding-top 25%
			&:before
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom right, $cv-red, $cv-red);
				opacity: .75;
			.title
				position relative
				color #fff
				font-family: 'Scada', sans-serif;
				text-transform uppercase
				font-size 26px
				z-index 2
				margin-bottom 32px
			.text
				position relative
				padding 0 40px
				color #fff
				font-family: 'Scada', sans-serif;
				text-transform uppercase
				font-size 12px
				z-index 2
		.img
			position absolute
			top 50%
			width 100%
			text-align center
			transform: translateY(-50%)
			img
				display inline-block
				width auto
				max-width: 90%;
	.owl-dots
		position absolute
		bottom -45px
		left 0
		text-align center
		width 100%
		.owl-dot
			display inline-block
			border-radius: 50%;
			margin: 5px;
			size 15px
			background $cv-grey
			&.active
				background $cv-red
	.owl-nav
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
	.owl-next
	.owl-prev
		&:hover
			&:after
				border-color: $cv-red
	.owl-next:after
	.owl-prev:after
		content: '';
		position: absolute;
		top: 0px;
		left: 15px;
		width: 35px;
		height: 35px;
		border-left: 5px solid $cv-grey;
		border-bottom: 5px solid $cv-grey;
		transform: rotate(45deg) skew(10deg,10deg);
		transition: .3s;
	.owl-next:after
		left: auto;
		right 15px
		transform: rotate(225deg) skew(10deg,10deg);

.home-news
	text-align center
	padding-top 45px
	padding-bottom 90px
	+below(850px)
		padding-bottom 32px
	.main-title
		display inline-block
		margin-bottom 64px

.news-list
	font-size 0
	text-align left
	.news-block
		display inline-block
		vertical-align top
		margin: 0 15px
		width: calc(100% / 2 - 30px)
		margin-bottom 32px
		+below(850px)
			width 100%
			margin 0
			margin-bottom 24px
		.info
			background #eee
			padding 25px
			font-family: 'Scada', sans-serif;
			+below(850px)
				padding 10px
			.title
				font-size 32px
				margin-bottom 12px
			.sub-title
				font-size 26px
				margin-bottom 12px
			.text
				margin-top 24px
				font-size 16px
			.more
				text-align right
				a
					display inline-block
					margin-top 24px
					text-decoration none
					text-transform uppercase
					font-size 18px
					color #888
					transition: .25s
					&:hover
						color #000
		.img
			position relative
			img
				width 100%
				max-height 400px
				object-fit: cover;
			.ang
				position absolute
				bottom 0
				left 0
				width 100%
				z-index 1

.home-news-more
	display inline-block
	margin-bottom 32px
	color #888
	font-family: 'Scada', sans-serif;
	text-transform uppercase
	font-size 24px
	transition: .25s
	&:hover
		color #000

.partners-text-carousel
	position relative
	padding-bottom 42px
	.owl-dots
		position absolute
		bottom 0
		left 0
		text-align center
		width 100%
		.owl-dot
			display inline-block
			border-radius: 50%;
			margin: 5px;
			size 15px
			background $cv-grey
			&.active
				background $cv-red
